<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @university.nome %>
</p>

<p>
  <strong>Citta:</strong>
  <%= @university.citta %>
</p>

<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
